<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tencent.wxcloudrun.dao.OrderMapper">

    <resultMap id="orderResultMap" type="com.tencent.wxcloudrun.model.Order">
        <id property="id" column="id"/>
        <result property="orderNumber" column="order_number"/>
        <result property="userId" column="user_id"/>
        <result property="totalAmount" column="total_amount"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="cancelReason" column="cancel_reason"/>
        <result property="cancelledTime" column="cancelled_time"/>
        <result property="username" column="username"/>
        <result property="phoneNumber" column="phone_number" />

        <collection property="bookings" ofType="com.tencent.wxcloudrun.model.Booking"
                    select="selectBookingsByOrderId" column="id"/>
    </resultMap>

    <insert id="insertOrder" parameterType="com.tencent.wxcloudrun.model.Order" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `order` (order_number, user_id, total_amount, status,
        create_time, update_time, cancel_reason, cancelled_time)
        VALUES (#{orderNumber}, #{userId}, #{totalAmount}, #{status},
        #{createTime}, #{updateTime}, #{cancelReason}, #{cancelledTime})
    </insert>

    <update id="updateOrderStatus">
        UPDATE `order`
        SET status = #{status},
        update_time = NOW(),
        <if test="cancelReason != null">
            cancel_reason = #{cancelReason},
            cancelled_time = NOW(),
        </if>
        <if test="status == 'completed'">
            update_time = NOW()
        </if>
        WHERE id = #{id}
    </update>

    <select id="selectOrderById" resultType="com.tencent.wxcloudrun.model.Order">
        SELECT o.*, u.username
        FROM `order` o
        LEFT JOIN user u ON o.user_id = u.id
        WHERE o.id = #{id}
    </select>

    <select id="selectOrderByNumber" resultType="com.tencent.wxcloudrun.model.Order">
        SELECT o.*, u.username
        FROM `order` o
        LEFT JOIN user u ON o.user_id = u.id
        WHERE o.order_number = #{orderNumber}
    </select>

    <select id="selectOrdersByStatus" resultType="com.tencent.wxcloudrun.model.Order">
        SELECT o.*, u.username
        FROM `order` o
        LEFT JOIN user u ON o.user_id = u.id
        WHERE o.status = #{status}
    </select>

    <select id="selectOrdersByUser" resultMap="orderResultMap">
        SELECT o.*,u.username,u.phone_number
        FROM `order` o
        LEFT JOIN user u ON o.user_id = u.id
        WHERE u.id = #{userId}
    </select>

    <update id="updateOrderAmount">
        UPDATE `order`
        SET total_amount = #{totalAmount},
        update_time = NOW()
        WHERE id = #{id}
    </update>

    <update id="updateBookingsOrderId">
        UPDATE booking
        SET order_id = #{orderId},
        updated_at = NOW()
        WHERE id IN
        <foreach collection="bookingIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="getAllOrders" resultMap="orderResultMap">
        SELECT o.*,u.username,u.phone_number
        FROM `order` o
        left join user u
        on o.user_id = u.id
    </select>
    
    <select id="selectBookingsByOrderId" resultType="com.tencent.wxcloudrun.model.Booking">
        select b.*,CONCAT(t.start_time,'-',t.end_time) time  from booking b
        left join `order` o
        on b.order_id = o.id
        left join time_slot t
        on b.time_slot_id = t.id
        where b.order_id = #{order_id}
    </select>

    <select id="checkOrderCancelable" resultType="java.util.HashMap">
        SELECT COALESCE(
                       (SELECT
                            o.status = 'confirmed'
                                AND MIN(CONCAT(b.date, ' ', ts.start_time)) > DATE_ADD(NOW(), INTERVAL 24 HOUR)
                        FROM `order` o
                                 INNER JOIN booking b ON o.id = b.order_id
                                 INNER JOIN time_slot ts ON b.time_slot_id = ts.id
                        WHERE o.id = 1
                        GROUP BY o.id),
                       true
               ) cancelStatus
    </select>
</mapper>